[build]
  command = "pnpm build:client"
  functions = "netlify/functions"
  publish = "dist/spa"


[functions]
  external_node_modules = ["express", "@google/generative-ai", "zod", "zenscroll"]
  node_bundler = "esbuild"
  directory = "netlify/functions"
  
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200
  force = true

# Fallback for SPA routes
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
